<div>
    <div>
        <div>
            <%= image_tag @user.image.to_s %>
        </div>
        <div>
            <p><%= link_to "#{@user.name}", user_path(@user), class: "text-decoration-none" %></p>
        </div>
    </div>
</div>

<div>
    <%= render 'users', users: @followings %>
</div>
