<p class="text-end">Welcom to the Collects version0.6.2</p>
<div class="text-center">
    <h1>コレクション管理アプリ</h1>
    <h1>コレッズ</h1>
    <h3>どれ買ったっけ？どのグッズまで買ったっけ？</h3>
    <h4>そんな悩みを解決してくれるのが、コレクト！！</h4>
    <h4 class="mt-5">まずはアカウント登録</h4>
    <div>
        <%= link_to 'アカウント作成画面', signup_path, class: 'btn btn-info w-25 d-block mx-auto mt-3' %>
    </div>
</div>