<% if logged_in? %>
    <div class="new_posts">
        <%= link_to '新しく保管', new_post_path, class: "btn btn-primary" %>
    </div>
    <div class="myshowcase_link">
        <h1><%= link_to 'My Showcase', myshowcase_posts_path, :style=>"color:black" %></h1>
    </div>
    <div class="myposts_all">
        <%= render 'posts/myposts', posts: @posts %>
    </div>
    <div class="timeline">
        <h1>タイムライン</h1>
        <%= render 'posts/posts', posts: @posts %>
    </div>
<% else %>
    <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
        <div class="text-center text-white">
            <h1>Welcom to the Collects</h1>
        </div>
    </div>
<% end %>