<table class="table table-bordered ope">
    <tbody>
        <tr>
            <th>運営</th>
            <td>コレクト運営者</td>
        </tr>
        <tr>
            <th>お問い合わせ</th>
            <td>準備中</td>
        </tr>
    </tbody>
</table>