<h2>みんなの#<%= @tag.hash_name %></h2>

    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-6 col-md-3 col-lg-2 posts_myshowcase">
                <div class="image-wrapper">
                    <%= image_tag post.post_image.to_s %>
                </div>
                <div class="top_user">
                    <div class="col-3 col-md-3">
                        <div class="icon">
                            <%= link_to (image_tag "#{post.user.image.to_s}"), user_path(post.user) %>
                        </div>
                    </div>
                    <div class="posts_user_name">
                        <%= link_to "#{post.user.name}", user_path(post.user), class: "text-decoration-none" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>