.image-wrapper img {
    width: 100%;
    margin-bottom: 10px;
}

.posts_show_image img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.posts_myshowcase {
    margin-bottom: 5px;
    background-color: #DDFFFF;
}

.posts_user_name {
    margin-left: 15px;
    margin-top: 6px;
}