.user_show_name {
    margin-left: 20px;
    margin-top: 20px;
}
.user_show_button {
    margin-left: 20px;
}

.comment_text{
    font-size: 15px;
}
.hashtag_text {
    font-size: 5px;
}

/* /users */
.users {
    border-bottom: 2px solid #C0C0C0;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.users_name {
    font-size: 2.0em;
    font-family: "メイリオ";
}
.icon_users img {
    width: 100%;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.icon_show img {
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    height: 70px;
    width: 70px;
}
.users_follow {
    width: 70%;
}