<footer id="footer02" class="outer-block">
  <div class="inner-block">
    <div class="wrap">
      <div>
        <a href="/" class="logo">Collect</a>
      </div>
      <div class="cont">
        <ul class="nav">
          <% if logged_in? %>
            <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
          <% end %>
        </ul>
        <ul class="nav">
          <li><a href="/operator">運営</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /inner-block -->
  <div class="copyright">
    © 2021- Collect All Rights Reserved.
  </div>
</footer>
